body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .navbar,
.dark-mode footer {
    background-color: #333333 !important;
}

.dark-mode a {
    color: white;
}

.dark-mode #chi-siamo {
    background-color: #1e1e1e !important;
}

.dark-mode a:hover {
    color: rgb(137, 137, 137);
}
