body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode nav {
    background-color: rgb(51, 51, 51);
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode section p,
.dark-mode section li {
    color: #ffffff;
}

.dark-mode .navbar,
.dark-mode footer {
    background-color: #333333 !important;
}

.dark-mode a {
    color: white;
}

.dark-mode a:hover {
    color: white;
}

.dark-mode #chi-siamo {
    background-color: #1e1e1e !important;
}

.dark-mode #navbar-toggler {
    border-color: white !important;
}

button:hover {
    cursor: pointer;
}
